#seccion-lista {
  margin: 20px 0;
}

#lista-compras {
  list-style: none;
  padding: 0;
}

.producto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 5px auto;
  max-width: 300px;
  border-bottom: 1px solid #ddd;
}

.eliminar-btn {
  background-color: transparent;
  color: red;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
